Debug/
Release/
*.exe
*.dll
*.obj
*.o
*.h.gch
*.sublime-project
*.sublime-workspace
*.npp
*.pnproj
*.pnps
*.vcproj
*.vim
*.sln
*.ncb
*.suo
*.user

*.*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.tags
tags
.Trashes
Icon?
ehthumbs.db
Thumbs.db
